<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>by {{post.user.username}}</p>
<h3>Comments:</h3>
{{#each post.comments}}
  <div>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>{{this.content}} - by {{this.user.username}}</p>
  </div>
{{/each}}