<h1>{{this.title}}</h1>
<p>{{this.content}}</p>
<p>by {{this.user.username}} on {{this.createdAt}}</p>
<h4>Comments:</h4>
{{#each this.comments}}
  <div>
    <p>{{this.content}} - by {{this.user.username}} on {{this.createdAt}}</p>

  </div>
{{/each}}
{{#if logged_in}}
  <h4>Add a Comment:</h4>
  <form id="comment-form">
    <div class="form-group">
      <textarea
        id="comment-content"
        placeholder="Write your comment here..."
        required
      ></textarea>
    </div>
    <button
      type="submit"
      name="comment-btn"
      class="btn btn-primary"
      id="comment-btn"
    >Submit Comment</button>
  </form>

  <script src="/js/comment.js"></script>
{{/if}}